<!-- Instructions for completiona dn submission -->
<style>
    #instructions {
        border: 1px solid;
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }
</style>
<div class="mb-10">
    <div id="instructions">
        <h3 class="text-center">Instructions for completion and submission </h3>
        <div class="text-justify">
            <div><strong>FOR EACH ITEM—</strong></div>
            <ul>
                <li> If the answer to a question is “none” or “zero,” write “0” in the space provided.</li>
                <li>
                    When exact numeric answers are not available, provide estimates and mark ( X ) in the checkbox beside each number that is
                    estimated. For example 1234 <i class="fa fa-window-close"></i>
                </li>
            </ul>

            <div class="mb-20">Please submit your completed form(s) within 30 days of receipt. You may submit information in one of these ways:</div>
            <div class="row">
                <div class="col-sm-5">
                    ONLINE: Complete this form online at: <a href="https://fdcrp.rti.org">https://fdcrp.rti.org</a><br />
                    EMAIL: <a href="mailto:doj-dcra@rti.org">doj-dcra@rti.org</a><br />
                    FAX (TOLL-FREE): 1-866-800-9179<br />
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-2">
                            MAIL:
                         </div>
                        <div class="col-sm-10">
                            RTI International, Attn: Data Capture<br />
                            Project Number: 0215015.001.300.018.102<br />
                            5265 Capital Boulevard<br />
                            Raleigh, NC 27690-1652<br />
                        </div>
                    </div>
               </div>
            </div>
            <div class="mt-20">If you need assistance, contact Bryan Rhodes of RTI International toll-free at 1-866-354-4992 or <a href="mailto:doj-dcra@rti.org">doj-dcra@rti.org.</a></div>
        </div>
    </div>
</div>
