<!-- General Instructions -->
<style>
    #instructions {
        border: 1px solid;
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }
</style>
<div class="mb-10">
    <div id="instructions">
        <h3 class="text-center">General Instructions</h3>
        <div class="text-justify">
            <div><strong>FOR EACH ITEM—</strong></div>
            <ul>
                <li> Please complete the questionnaire online at <a href="jailsurveytest.rti.org">jailsurveytest.rti.org</a>.</li>
                <li> If you have questions about this cognitive test form, please call RTI, the collection agent for BJS, at 919-541-6249, or e-mail
                    <a href="mailto:acsmith@rti.org">acsmith@rti.org</a>.
                </li>
            </ul>
        </div>
    </div>
</div>
