@*
    Instruction for c13
*@
@{
}
<style>
    #instructions {
        border: 1px solid;
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }
</style>
<div class="mb-10">
    <div id="include_exclude">
        <h3 class="text-center"> CJ-13 Federal Law Enforcement Agency Summary Form </h3>
        <div class="text-justify">
            <p>
                Please identify any arrest-related, detention, or incarceration deaths that occurred in your jurisdiction from October 1, 2016, through September 30, 2017. Include the decedent name, date of death and time of death; and then proceed to Form CJ-13A, Arrest-Related Death Incident Report, or CJ-13B, Detention or Incarceration Death Incident Report, to complete additional information about the decedent and the circumstances surrounding the death.
            </p>
        </div>
    </div>
</div>

