
    <h2 class="fs-22 text-center-xs">Jail Survey Test</h2>
    <p class="fs-16">Thanks for participating in the Bureau of Justice Statistics (BJS) Jail Survey Cognitive Test. BJS, with assistance from our data collection partner RTI International, is testing new survey questions for its jail data collections. Your participation is completely voluntary; however, your feedback is important to BJS and will greatly help us improve the 2019 Census of Jails and future Annual Survey of Jails.</p>
