<!-- Reference Forms -->
<li class="dropdown">
    <a class="dropdown-toggle" href="#">
        More Information
    </a>
    <ul class="dropdown-menu">
        <li><a href="https://www.congress.gov/bill/113th-congress/house-bill/1447/text" target="_blank"><i class="fa fa-file-pdf-o"></i> Death in Custody Reporting Act of 2013</a></li>
        <li><a href="https://www.bjs.gov/index.cfm?ty=tp&tid=82" target="_blank"><i class="fa fa-file-pdf-o"></i> www.BJS.gov information on the Arrest-related Deaths Program</a></li>
        <li><a href="https://www.bjs.gov/index.cfm?ty=dcdetail&iid=243" target="_blank"><i class="fa fa-file-pdf-o"></i> www.BJS.gov information on the Deaths in Custody Reporting Program</a></li>
    </ul>
</li><!-- end Reference Forms -->