
@{
    ViewData["Title"] = "Client Dashboard";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Dashboard</h2>
        </div><!--end col-sm-12-->
    </div><!--end row-->
    <div class="row">
        <div class="col-sm-6">
            <!-- Chart 1 -->
            <div id="panel-chartjs-1" class="panel panel-default">

                <div class="panel-heading">

                    <span class="elipsis">
                        <!-- panel title -->
                        <strong>Line Chart</strong>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->

                </div>

                <!-- panel content -->
                <div class="panel-body">

                    <canvas class="chartjs fullwidth height-300" id="lineChartCanvas" width="547" height="300"></canvas>

                </div>
                <!-- /panel content -->
                <!-- panel footer -->
                <div class="panel-footer">

                    <!-- pre code -->
                    <div class="text-left margin-top-20">
                        <a class="btn btn-xs btn-info" href="javascript:;" onclick="jQuery('#pre-0').slideToggle();">Show Code</a>
                    </div>
                    <pre id="pre-0" class="text-left noradius text-danger softhide margin-top-10">
                        <span class="text-success"></span>
                        <canvas class="chartjs fullwidth height-300" id="lineChartCanvas" width="547" height="300"></canvas>
                        <script>
                            loadScript('plugins/chart.chartjs/Chart.min.js', function () {
                                var lineChartCanvas = {
                                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                                    datasets: [
                                        {
                                            label: "My First dataset",
                                            fillColor: "rgba(220,220,220,0.2)",
                                            strokeColor: "rgba(220,220,220,1)",
                                            pointColor: "rgba(220,220,220,1)",
                                            pointStrokeColor: "#fff",
                                            pointHighlightFill: "#fff",
                                            pointHighlightStroke: "rgba(220,220,220,1)",
                                            data: [65, 59, 90, 81, 56, 55, 40]
                                        },
                                        {
                                            label: "My Second dataset",
                                            fillColor: "rgba(151,187,205,0.2)",
                                            strokeColor: "rgba(151,187,205,1)",
                                            pointColor: "rgba(151,187,205,1)",
                                            pointStrokeColor: "#fff",
                                            pointHighlightFill: "#fff",
                                            pointHighlightStroke: "rgba(151,187,205,1)",
                                            data: [28, 48, 40, 19, 96, 27, 100]
                                        }
                                    ]
                                };

                                var ctx = document.getElementById("lineChartCanvas").getContext("2d");
                                new Chart(ctx).Line(lineChartCanvas);
                            });//end loadScript
                        </script>
                    </pre><!-- /pre code -->
                </div>
                <!-- /panel footer -->
            </div>
            <!-- /Chart 1 -->
        </div><!--end col-sm-6-->
    </div><!--end row-->
</div><!--end .container-->

<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript">
    /**
        Chart.js
        http://www.chartjs.org/
    **/
    loadScript('plugins/chart.chartjs/Chart.min.js', function () {

        var lineChartCanvas = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]
        };

        // lineChartCanvas
        var ctx = document.getElementById("lineChartCanvas").getContext("2d");
        new Chart(ctx).Line(lineChartCanvas);


    });
</script>
