
@{
    ViewData["Title"] = "CreateUserConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Success!</h2>
            <p>The user has been created.</p>
            <a href="@Url.Action("CreateUser","Security")" class="btn btn-primary"><i class="fa fa-edit"></i> Create Another User</a>
        </div>
    </div>
</div>


